<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net481" />
  <package id="NLog" version="5.2.7" targetFramework="net481" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net481" />
  <package id="NLog.Schema" version="4.7.15" targetFramework="net481" />
</packages>